.header-main{
    width: 100%;
    background: #F4F9FD;
}
.header-main h1,h2{
    font-family: 'rockwell', Arial, Helvetica, sans-serif;
   
}
.search{
    background: #CACDD0;
    padding: 25px;
    margin-left: 14px;
    margin-top: 40px;
}
.search .btn{
    background: #E95B2E;
    padding-left: 20px;
    padding-right: 20px; 
    color: white;
    font-size: 20px;
}
.search input{
    padding: 30px;
}
